<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <![endif-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Photos background</title>
        <link rel="shortcut icon" href="http://static.mailchimp.com/web/favicon.png">
        <link rel="stylesheet" href="/static/index.css">
    </head>

    <body>
        <div class="transbox">
            The X-UA-Compatible meta tag allows web authors to choose what version of Internet Explorer the page should be rendered as. IE11 has made changes to these modes; see the IE11 note below. Microsoft Edge, the browser that will be released after IE11, will only honor the X-UA-Compatible meta tag in certain circumstances. See the Microsoft Edge note below. 
        </div>
    </body>
</html>
